<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Rouge</servlet-name>
		<servlet-class>jp.ac.tsuda.RougeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rouge</servlet-name>
		<url-pattern>/rouge</url-pattern>
	</servlet-mapping>
 	<servlet>
		<servlet-name>register_user</servlet-name>
		<servlet-class>jp.ac.tsuda.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register_user</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Rouge</servlet-name>
		<servlet-class>jp.ac.tsuda.RougeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rouge</servlet-name>
		<url-pattern>/register1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>jp.ac.tsuda.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>jp.ac.tsuda.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>jp.ac.tsuda.Main</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Confirm</servlet-name>
		<servlet-class>jp.ac.tsuda.ConfirmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm</servlet-name>
		<url-pattern>/confirm</url-pattern>
	</servlet-mapping>
			<servlet>
		<servlet-name>Done</servlet-name>
		<servlet-class>jp.ac.tsuda.Done</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Done</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>
